@import url('https://fonts.googleapis.com/css?family=Germania+One');

body, html{
    font-family: 'Germania One', cursive;
}



.div, header, .div2 {
    /* border-radius: 15px 50px;
  background: rgb(87, 88, 84);
  padding: 20px; 
width: 400px;
height: 300px;
position: absolute;
        margin: 0 auto;
        top: 35%;
        left: 40%;
        margin-left: -40px;
        margin-top: -40px; */
}